{% extends 'admin/layout.html' %}

{% block body %}

    <h1>Secrets for project {{ project.name }}</h1>

    <div>
        <a class="pure-button" onclick="appendNewSecret('new')">+</a>
        <a class="pure-button" href="?decrypt=true">Decrypt Secrets</a>
    </div>
    <div>
        <br />
        <br />
    </div>

    <div>
        <div class="pure-controls">
            <button onclick="secretsForm().submit()" class="pure-button pure-button-primary">Save</button>
        </div>
        <form class="pure-form pure-g" id="main-form-secrets" method="post" enctype="application/x-www-form-urlencoded">

        </form>
    </div>

    <script>
        let incrementNewId = 0
        function secretsForm() {
            return document.getElementById('main-form-secrets');
        }

        function appendNewSecret(id, name = '', value = '{{ SECRET_DEFAULT_VALUE }}') {
            if (id === 'new') {
                id = 'new-' + incrementNewId;
                incrementNewId++;
            }

            const form = secretsForm();
            form.innerHTML = `
                <div class="pure-u-1-4">
                    <input name="secrets[${id}][name]" type="text" class="pure-input-1" placeholder="Secret name" value="${name}" />
                </div>
                <div class="pure-u-3-4">
                    <input name="secrets[${id}][value]" type="password" class="pure-input-1" placeholder="" value="--------" />
                </div>`
                + form.innerHTML;
        }

        {% for secret in secrets %}
            appendNewSecret('{{ secret.id }}', '{{ secret.name }}', '{{ secret.value or SECRET_DEFAULT_VALUE }}');
        {% endfor %}
    </script>

{% endblock %}
