{% extends 'admin/layout.html' %}

{% block body %}

    <h1>Secrets for project {{ project.name }}</h1>

    <div class="main">

        {% if other_environment_secrets_len > 0 %}
        <fieldset>
            <legend>Missing secrets</legend>
            <ul>
                {% for secret_name, secret in other_environment_secrets.items() %}
                <li>
                    {{ secret['secret'].name }} (from environments: {{ ', '.join(secret['environment_names']) }})
                    <span class="pure-controls">
                                    <button onclick="appendNewSecret('new', '{{ secret['secret'].name }}');" class="pure-button">Add</button>
                                </span>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <div><br /></div>
        {% endif %}



        <div>
            <span id="secrets-controls">
                <div class="pure-controls">
                    <button type="submit" onclick="return secretsForm().submit()" class="pure-button pure-button-primary">Save</button>
                </div>
                <div>
                    <br />
                </div>
                <div>
                    <a class="pure-button" onclick="appendNewSecret('new')">+</a>
                    <a class="pure-button" href="?decrypt=true">Decrypt Secrets</a>
                </div>
            </span>

            <form class="pure-form pure-g" id="main-form-secrets" onsubmit="return validateForm()" method="post" enctype="application/x-www-form-urlencoded" novalidate>

            </form>
        </div>
    </div>

    <style>
      #main-form-secrets {
        margin-top: 2%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 2%;
      }

      #secrets-controls {
        text-align: right;
      }
    </style>

    <script>
        let incrementNewId = 0
        function secretsForm() {
            return document.getElementById('main-form-secrets');
        }

        function validateForm() {
          var form = document.getElementById('main-form-secrets');
          if (!form.checkValidity()) {
            // form is invalid
            return false;
          }
          // form is valid
          return true;
        }

        function appendNewSecret(id, name = '', value = '') { // {{ SECRET_DEFAULT_VALUE }}
            if (id === 'new') {
                id = 'new-' + incrementNewId;
                incrementNewId++;
            }

            const form = secretsForm();
            const newSecret = document.createDocumentFragment();

            const inputWrapper = document.createElement('div');
            inputWrapper.className = 'pure-u-1-5';
            inputWrapper.id = `secret-${id}-name`;

            const input = document.createElement('input');
            input.name = `secrets[${id}][name]`;
            input.required = true;
            input.type = 'text';
            input.className = 'pure-input-1';
            input.placeholder = 'Secret name';
            input.value = name;
            inputWrapper.appendChild(input);

            newSecret.appendChild(inputWrapper);

            const textareaWrapper = document.createElement('div');
            textareaWrapper.className = 'pure-u-3-5';
            textareaWrapper.id = `secret-${id}-value`;


            const textarea = document.createElement('textarea');
            textarea.required = true;
            textarea.name = `secrets[${id}][value]`;
            textarea.rows = countLinesIn(value) || 1;
            textarea.style.color = 'transparent';
            textarea.style.textShadow = '0 0 8px rgba(0,0,0,0.5)';
            textarea.type = 'password';
            textarea.className = 'pure-input-1';
            textarea.placeholder = '';
            textarea.value = value;
            textarea.id = `secret-${id}`;
            textareaWrapper.appendChild(textarea);

            newSecret.appendChild(textareaWrapper);

            const buttonWrapperActions = document.createElement('div');
            buttonWrapperActions.className = 'pure-u-1-5';
            buttonWrapperActions.id = `secret-${id}-actions`;

            const copyButton = document.createElement('button');
            copyButton.onclick = () => copyTagContent(`secret-${id}`);
            copyButton.className = 'pure-button';
            copyButton.type = 'button';
            copyButton.textContent = 'Copy';
            buttonWrapperActions.appendChild(copyButton);

            const deleteButton = document.createElement('button');
            deleteButton.onclick = () => {
              if (! id.includes('new-') && confirm('Are you sure?')) {
                proceedDeleteSecret(id);
              } else {
                proceedDeleteSecret(id);
              }
            };
            deleteButton.className = 'pure-button';
            deleteButton.type = 'button';
            deleteButton.textContent = 'Delete';
            buttonWrapperActions.appendChild(deleteButton);

            newSecret.appendChild(buttonWrapperActions);

            form.insertBefore(newSecret, form.firstChild);
        }

        function proceedDeleteSecret(secretId) {
            if (secretId.includes('new-')) {
                // remove from DOM only
                document.getElementById(`secret-${secretId}-name`).remove();
                document.getElementById(`secret-${secretId}-value`).remove();
                document.getElementById(`secret-${secretId}-actions`).remove();
                return;
            }
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action',
                `/admin/projects/{{ project.id }}/environments/{{ environment.id }}/secrets/${secretId}/destroy/`);
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit();
        }

        {% for secret in secrets %}
            appendNewSecret('{{ secret.id }}', '{{ secret.name }}', `{{ secret.value or SECRET_DEFAULT_VALUE }}`);
        {% endfor %}

        // redirection when decrypting after N seconds
        {% if with_decryption %}
            window.setTimeout(function(){
                window.location.href = "/admin/projects/{{ project.id }}/environments/{{ environment.id }}/secrets/";
            }, 1000*60*{{ADMIN_UI_DECRYPTED_SECRETS_EXPIRATION}});
        {% endif %}
    </script>

{% endblock %}
