{% extends 'admin/layout.html' %}

{% block body %}

    <h1>Secrets for project {{ project.name }}</h1>

    <div>
        <a class="pure-button" href="/admin/projects/{{ project.id }}/environments/{{ environment.id }}/secrets/">+</a>
    </div>
    <div>
        <br />
        <br />
    </div>

    <div>
        <form class="pure-form pure-g">
            {% for secret in secrets %}
                <div class="pure-u-1-4">
                    <input name="secrets[{{ secret.id }}][name]" type="text" class="pure-input-1" value="{{ secret.name }}" placeholder="Secret name" />
                </div>
                <div class="pure-u-3-4">
                    <input name="secrets[{{ secret.id }}][value]" type="password" class="pure-input-1" placeholder="" value="--------" />
                </div>
            {% endfor %}
        </form>
    </div>

{% endblock %}
