<!DOCTYPE html>
<html>
<head>
	<title>secretsfly - Administration</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>

<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <!-- pure-menu-selected -->
        <li class="pure-menu-item">
            <a href="/admin/projects" class="pure-menu-link home">secretfly</a>
        </li>

        {% if g.project %}
        <li class="pure-menu-item">
            <a href="/admin/projects/{{ g.project.id }}/" class="pure-menu-link">
                {{ g.project.name }}
            </a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Environments</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
</div>

	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul class="flashes">
		{% for msg_level, message in messages %}
		  <li class="{{ msg_level }}">{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
	{% block body %}

	{% endblock %}

	<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>
