{% extends 'admin/layout.html' %}

{% block body %}

    <h1>Projects ({{ nb_projects }})</h1>

{% if new_master_key %}
<div>
    <p><strong>New master key generated for project {{ project.name }}. Make sure to back it up and keep it secret.</strong>
        <input id="master_key_input"
               type="password"
               value="{{ new_master_key }}"
               class="pure-input-1-2"
               readonly />
        <button onclick="copyTagContent('master_key_input')" class="pure-button">Copy master key</button>
    </p>
</div>
{% endif %}

    <div class="main">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <span id="secrets-controls">
                <a class="pure-button" href="/admin/projects/new">+</a>
            </span>
            <table class="pure-table full-width">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}

                        <tr>
                            <td>{{ project.id }}</td>
                            <td>
                                {% if project.project_id %}
                                    <span>
                                       &nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                {% endif %}
                                {{ project.name }}

                                {% if not project.sealed %}
                                    <b>
                                        <a onclick="return confirm('Are you sure?')"
                                           title="Click to seal the project master key"
                                           href="/admin/projects/{{ project.id }}/seal">
                                            [unsealed]
                                        </a>
                                    </b>
                                {% endif %}
                            </td>
                            <td>
                                <ul>
                                    <li><a href="/admin/projects/{{ project.id }}/">View</a></li>
                                    <li><a href="/admin/projects/{{ project.id }}/service-tokens">Service Tokens</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pure-u-1-5"></div>
    </div>

{% endblock %}
