{% extends 'admin/layout.html' %}

{% block body %}

    <h1>New Project</h1>

    <form method="POST" class="pure-form pure-form-aligned" action="/admin/projects">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Name *</label>
                <input type="text" name="name" class="pure-input-1-2" id="aligned-name" placeholder="Name" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-description">Description</label>
                <textarea id="aligned-description"
                          name="description"
                          class="pure-input-1-2"
                          placeholder="Description">

                </textarea>
            </div>

            <div class="pure-control-group">
                <label for="project-id">Parent Project</label>
                <select id="project-id" name="project_id">
                    <option value=""></option>
                    {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Create</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
