{% extends 'admin/layout.html' %}

{% block body %}

    <h1>{{ project.name }} Project</h1>

    {% if not project_master_key_is_set %}
        <p>Project master key is not currently set, fill it below to keep it stored temporarily in memory.</p>

        <form method="POST" class="pure-form pure-form-aligned" action="/admin/projects/{{ project.id }}/set-master-key">
            <fieldset>
                <div class="pure-control-group">
                    <label for="project-master-key">Project master key/passphrase*</label>
                    <input type="password"
                           name="master_key_{{ project.id }}"
                           class="pure-input-1-2"
                           id="project-master-key"
                           placeholder="Project master key" />
                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Store (unseal)</button>
                </div>
            </fieldset>
        </form>
    {% endif %}

    <div>
        <hr />
        <a class="pure-button" href="/admin/projects/{{ project.id }}/rotate">Rotate Master Key</a>
        <hr />
    </div>

    <div class="pure-g" style="margin: 20px;">

        {% for environment in environments %}
            <div class="pure-u-1-{{ nb_environments }}">
                <div class="l-box">
                    <h3>{{ environment.name }}</h3>

                    <ul>
                        <li><a href="/admin/projects/{{ project.id }}/environments/{{ environment.id }}/secrets">Secrets</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
