{% extends 'admin/layout.html' %}

{% block body %}

    <h1>Service Tokens for project {{ project.name }}</h1>


    {% if service_tokens %}
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            {% if new_public_service_token %}
            <div>
                <p><strong>New service token generated for project {{ project.name }}. Make sure to back it up and keep it secret.</strong>
                <form class="pure-form pure-form-aligned">
                    <input id="service_token_input" type="password" value="{{ new_public_service_token }}" class="pure-input-1-2" readonly />
                    <button onclick="copyTagContent('service_token_input')" class="pure-button" type="button">Copy Service Token</button>
                </form>
                </p>
            </div>
            {% endif %}

            <span id="secrets-controls">
                <a class="pure-button" href="/admin/projects/{{ project.id }}/service-tokens/new">+</a>
            </span>
            <table class="pure-table full-width">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Service Token Name</th>
                    <th>Environment name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for service_token in service_tokens %}

                <tr>
                    <td>{{ service_token.id }}</td>
                    <td>{{ service_token.friendly_name }}</td>
                    <td>{{ service_token.environment.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <form method="post" action="/admin/projects/{{ project.id }}/service-tokens/{{ service_token.id }}/destroy">
                                    <button onclick="return confirm('Are you sure?')" class="pure-button" type="submit">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pure-u-1-5"></div>
    {% else %}
        <p>There are no service tokens for this project.</p>
    {% endif %}

{% endblock %}
