{% extends 'admin/layout.html' %}

{% block body %}

    <h1>Service Tokens for project {{ project.name }}</h1>

    <div>
        <a class="pure-button" href="/admin/projects/{{ project.id }}/service-tokens/new">+</a>
    </div>

    {% if new_public_service_token %}
    <div>
        <p><strong>New service token generated for project {{ project.name }}. Make sure to back it up and keep it secret.</strong>
            <input id="service_token_input"
                   type="password"
                   value="{{ new_public_service_token }}"
                   class="pure-input-1-2"
                   readonly />
            <button onclick="copyTagContent('service_token_input')" class="pure-button">Copy Service Token</button>
        </p>
    </div>
    {% endif %}

    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
